@CHARSET "UTF-8";

/* 头部样式*/
.loginHead {
	border: 100px outset black;
	border-bottom-color: #fc5151;
	border-background: #f4fdff;
	background-color: #cfffa4;
}
/*整个页面的背景样式*/
body {
	background-color: #e8ffef
}

/*表单样式*/
form table{
	width: 100%
}

form table td{
	width: 50%
}

.right_td{
	align-content: center;
	width: 50%;
	
}

.left_td{
	align-content:center
}


.logindiv{
	margin-top: 100px;
	
}

.logindiv table{
	width: 100%;
}
.logindiv table td:nth-child(odd){
	text-align: right;
	width: 50%;
}

.logindiv table td:nth-child(even){
	text-align: left;
	width: 50%;
}


#registButton{
	line-height: 40px;
	text-align: center;
}


.loginErrorDiv{
	text-align: center;
}

.loginErrorDiv span{
	color: red;
}